In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('zomato_indore.csv')

In [3]:
df.head()

,Unnamed: 0,name,locality,latitude,longitude,cuisines,average_cost_for_two,aggregate_rating,votes,rating_text
0,0,Namo Sandwich,Sudama Nagar,22.696331,75.834857,Fast Food,500,4.3,860,Very Good
1,1,Bake N Shake,"BCM Heights, Vijay Nagar",22.755705,75.895287,"Cafe, Fast Food, Bakery",500,4.2,683,Very Good
2,2,Shree Gurukripa,Sarwate Bus Stand,22.714090,75.868851,North Indian,350,4.3,2030,Very Good
3,3,Nafees Restaurant,Old Palasia,22.725712,75.887757,"North Indian, Mughlai",800,4.3,2987,Very Good
4,4,Hotel Guru Kripa,Sarwate Bus Stand,22.714086,75.868846,North Indian,350,4.3,3441,Very Good

In [5]:
df[df['locality']=='Bombay Bazaar']

,Unnamed: 0,name,locality,latitude,longitude,cuisines,average_cost_for_two,aggregate_rating,votes,rating_text
479,498,Nema Gajak Kulfi,Bombay Bazaar,22.715581,75.847634,Desserts,200,2.8,22,Average
530,549,Apna Sweets,Bombay Bazaar,22.715413,75.845993,"Mithai, North Indian, South Indian, Beverages",400,3.2,1028,Average
568,587,Saify Hotel,Bombay Bazaar,22.716297,75.863910,"North Indian, Mughlai",400,4.0,266,Very Good
620,639,Apna Sweets,Bombay Bazaar,22.715413,75.845993,"Mithai, North Indian, South Indian, Beverages",400,3.2,1028,Average
638,657,Saify Family Restaurant,Bombay Bazaar,22.716072,75.864061,"North Indian, Chinese, Mughlai",750,3.8,382,Good
650,669,Saify Hotel,Bombay Bazaar,22.716297,75.863910,"North Indian, Mughlai",400,4.0,266,Very Good
812,831,Nema Sweets,Bombay Bazaar,22.715410,75.845993,Desserts,200,3.2,80,Average
842,862,Nema Gajak Kulfi,Bombay Bazaar,22.715581,75.847634,Desserts,200,2.8,22,Average
897,924,Nafees Bakery,Bombay Bazaar,22.715742,75.850439,"Bakery, Fast Food",150,3.4,213,Average
971,1009,Apna Sweets,Bombay Bazaar,22.715413,75.845993,"Mithai, North Indian, South Indian, Beverages",400,3.2,1028,Average
1004,1042,Nema Sweets,Bombay Bazaar,22.715410,75.845993,Desserts,200,3.2,80,Average
1026,1064,Nema Gajak Kulfi,Bombay Bazaar,22.715581,75.847634,Desserts,200,2.8,22,Average
1039,1078,Gelda Namkeen and Sweets,Bombay Bazaar,22.721906,75.000000,"Mithai, Street Food",300,3.0,4,Average
1336,1389,Sagar Juice,Bombay Bazaar,22.713701,75.842870,Beverages,250,2.9,5,Average
1547,1653,Apna Sweets,Bombay Bazaar,22.715413,75.845993,"Mithai, North Indian, South Indian, Beverages",400,3.2,1028,Average
1858,1964,Apna Sweets,Bombay Bazaar,22.715413,75.845993,"Mithai, North Indian, South Indian, Beverages",400,3.2,1028,Average
1920,2026,Nafees Bakery,Bombay Bazaar,22.715742,75.850439,"Bakery, Fast Food",150,3.4,213,Average
1995,2101,Apna Sweets,Bombay Bazaar,22.715413,75.845993,"Mithai, North Indian, South Indian, Beverages",400,3.2,1028,Average